.card__button {
  background: #ffffff;
  box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  border: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #333;
  padding: 13px 0;
  width: 100%;
  cursor: pointer;
  flex: 0 0 auto;

}