.form__input {
  padding: 10px 12px;
  resize: none;
  box-sizing: border-box;
  background: #ffffff;
  opacity: 0.55;
  border-radius: 12px;
  border: none;
  width: 100%;
}
.form__input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.41px;
  color: #333;
}